In [1]:
import pandas as pd 
df=pd.read_csv('F:\\FYP\\data set\\Text_db_final_2.csv')

In [2]:
Locationlst=["Akmeemana", "Ambalanthota","Alayadiwembu","Ambalangoda","Akurana",'Ambagamuwa','Akuressa','Ampara','Alawwa,Arachchikattuwa','Attanagalla','Agalawatta','Ayagama','Ambanganga Korale','Akkaraipattu','Angunakolapelessa','Baddegama','Balapitiya','Bope-Poddala','Bandarawela','Beruwala','Beliatta','Benthota','Buttala','Bentota','Badulla','Bandaragama','Balangoda','Biyagama','Chilaw','Colombo','Delthota','Divulapitiya','Dodangoda','Doluwa','Dambulla','Dickwella','Dankotuwa','Devinuwara','Dimbulagala','Dehiattakandiya','Deraniyagala','Dompe,Dehiovita','Delft,Eravur Pattu','Ella','Elpitiya','Eravu','Embilipitiya','Eheliyagoda','Galgamuwa','Galle','Ganga Ihala Korale','Galewela','Gampaha','Godakawela','Galigamuwa','Haputale','Horana','Harispattuwa','Hildummulla','Hali-Ela','Hambantota','Hikkaduwa','Habaraduwa','Hatharaliyadda','Hingurakgoda','Hanguranketha','Homagama','Hanwella','Ipalogama','Imaduwa','Ingiriya','Ibbagamuwa','Imbulpe','Jaffna','Ja-Ela','Kesbewa','Kaduwela','Kelaniya','Kalutara','Kundasale','Katana','Valachchenai','Kekirawa','Katharagama','Kuchchaveli','Kothmale','Kandy','Kotapola','Kuruvita','Kamburupitiya','Kalpitiya','Kegalle','Kurunegala','Kobeigane','Kalawana','Kahawatta','Kolonna','Koralai Pattu North','Kiriella','Kuliyapitiya','Kinniya','Kolonnawa','Katuwana','Karandeniya','Karuwalagaswewa','Karachchi','Lunugamvehera','Lahugala','Lankapura','Laggala-Pallegama','Lunugala','Medadumbara','Mahara','Maharagama','Mathugama','Moratuwa','Mihinthale','Manmunai','Minipe','Minuwangoda','Mawathagama','Mahiyanganaya','Mawanella','Millaniya','Mulatiyana','Matale','Matara','Malimbada','Mount Lavinia','Manna','Mirigama','Madulla','Mahawewa','Moneragala','Mahakumbukkadawala','Maspotha','Maritimepattu','Mahawa','Medawachchiya','Mundalama','Mirissa','Madurawala','Medagama','Mallawapitiya','Meegahakivula','Nallur','Nochchiyagama','Negombo','Nachchadoowa','Nagoda','Nanaddan','Naula','Nivithigala','Nuwara Eliya','Ninthavur','Nikaweratiya','Nattandiya','Niyagama','Opanayaka','Palugaswewa','Passara','Pathadumbara','Panvila','Pathahewaheta','Padukka','Panadura','Poojapitiya','Pothuvil','Puttalam','Polpithigama','Pelmadulla','Pallepola','Pitabeddara','Palindanuwara','Panduwasnuwara','Pannala','Palagala','Polgahawela','Pachchilaipalli','Pollonnaruwa','Rambukkana','Rambewa','Ratnapura','Rattota','Ruwanwella','Rideegama','Sri Jayawardanapura Kotte','Sevanagala','Sooriyawewa','Siyambalanduwa','Sainthamarathu','Samanthurai','Thissamaharama','Thawalama','Tangalle','Thambuttegama','Thumpane','Thalawa','Thirappane','Thenmaradchy','Trincomalee','Thanamalvila','Thihagoda','Thamankaduwa',
'Udapalatha','Udunuwara','Uva Paranagama','Ukuwela','Udubaddawa','Unawatuna','Udadumbara','Uhana','Vanathavilluwa','Vavuniya','Valikamam','Vadamaradchy','Walallawita','Welivitiya','Welimada','Wattala','Wellawaya','Welikanda','Welipitiya','Walapane','Wennappuwa','Weligama','Wariyapola','Weeraketiya','Wilgamuwa','Warakapola','Yatinuwara','Yakkalamulla','Yatiyanthota','Yatawatta']

#len(Locationlst)
def location (text):
    Locationlst=["Akmeemana", "Ambalanthota","Alayadiwembu","Ambalangoda","Akurana",'Ambagamuwa','Akuressa','Ampara','Alawwa,Arachchikattuwa','Attanagalla','Agalawatta','Ayagama','Ambanganga Korale','Akkaraipattu','Angunakolapelessa','Baddegama','Balapitiya','Bope-Poddala','Bandarawela','Beruwala','Beliatta','Benthota','Buttala','Bentota','Badulla','Bandaragama','Balangoda','Biyagama','Chilaw','Colombo','Delthota','Divulapitiya','Dodangoda','Doluwa','Dambulla','Dickwella','Dankotuwa','Devinuwara','Dimbulagala','Dehiattakandiya','Deraniyagala','Dompe,Dehiovita','Delft,Eravur Pattu','Ella','Elpitiya','Eravu','Embilipitiya','Eheliyagoda','Galgamuwa','Galle','Ganga Ihala Korale','Galewela','Gampaha','Godakawela','Galigamuwa','Haputale','Horana','Harispattuwa','Hildummulla','Hali-Ela','Hambantota','Hikkaduwa','Habaraduwa','Hatharaliyadda','Hingurakgoda','Hanguranketha','Homagama','Hanwella','Ipalogama','Imaduwa','Ingiriya','Ibbagamuwa','Imbulpe','Jaffna','Ja-Ela','Kesbewa','Kaduwela','Kelaniya','Kalutara','Kundasale','Katana','Valachchenai','Kekirawa','Katharagama','Kuchchaveli','Kothmale','Kandy','Kotapola','Kuruvita','Kamburupitiya','Kalpitiya','Kegalle','Kurunegala','Kobeigane','Kalawana','Kahawatta','Kolonna','Koralai Pattu North','Kiriella','Kuliyapitiya','Kinniya','Kolonnawa','Katuwana','Karandeniya','Karuwalagaswewa','Karachchi','Lunugamvehera','Lahugala','Lankapura','Laggala-Pallegama','Lunugala','Medadumbara','Mahara','Maharagama','Mathugama','Moratuwa','Mihinthale','Manmunai','Minipe','Minuwangoda','Mawathagama','Mahiyanganaya','Mawanella','Millaniya','Mulatiyana','Matale','Matara','Malimbada','Mount Lavinia','Manna','Mirigama','Madulla','Mahawewa','Moneragala','Mahakumbukkadawala','Maspotha','Maritimepattu','Mahawa','Medawachchiya','Mundalama','Mirissa','Madurawala','Medagama','Mallawapitiya','Meegahakivula','Nallur','Nochchiyagama','Negombo','Nachchadoowa','Nagoda','Nanaddan','Naula','Nivithigala','Nuwara Eliya','Ninthavur','Nikaweratiya','Nattandiya','Niyagama','Opanayaka','Palugaswewa','Passara','Pathadumbara','Panvila','Pathahewaheta','Padukka','Panadura','Poojapitiya','Pothuvil','Puttalam','Polpithigama','Pelmadulla','Pallepola','Pitabeddara','Palindanuwara','Panduwasnuwara','Pannala','Palagala','Polgahawela','Pachchilaipalli','Pollonnaruwa','Rambukkana','Rambewa','Ratnapura','Rattota','Ruwanwella','Rideegama','Sri Jayawardanapura Kotte','Sevanagala','Sooriyawewa','Siyambalanduwa','Sainthamarathu','Samanthurai','Thissamaharama','Thawalama','Tangalle','Thambuttegama','Thumpane','Thalawa','Thirappane','Thenmaradchy','Trincomalee','Thanamalvila','Thihagoda','Thamankaduwa',
'Udapalatha','Udunuwara','Uva Paranagama','Ukuwela','Udubaddawa','Unawatuna','Udadumbara','Uhana','Vanathavilluwa','Vavuniya','Valikamam','Vadamaradchy','Walallawita','Welivitiya','Welimada','Wattala','Wellawaya','Welikanda','Welipitiya','Walapane','Wennappuwa','Weligama','Wariyapola','Weeraketiya','Wilgamuwa','Warakapola','Yatinuwara','Yakkalamulla','Yatiyanthota','Yatawatta']
    return [i for i in Locationlst if i in text]
    #for i in Locationlst:
        #if i in text :
            #return i
        
def tolist(text):
    float_list=[]
    for item in text:
        float_list.append(item)

In [3]:
df.text= df.text.astype(str)

In [4]:
df['location']=df['text'].map(location)

In [5]:
genderlst=["male","Female","female", "Male", "Ladies", "Gents", "ladies"]
def gender(text):
    
    for i in genderlst:
        if i in text:
            return i

In [6]:
df['gender']=df['text'].map(gender)

In [7]:
def educationqualification (text):
    educationlst=["Bachalors Degree", "Diploma", "diploma", "CIMA", "aat", "AAT","O/L","A/L","ACCA",'b.SC','Degree','Masters','NDT',"Chartered","NVQ","HND","TTI","ICASL","CGTTI",'NAITA',"ATI","NDES","NCT","JLPT N2","CCNA",'ERP',"CISA","MCSC","CMA","ICSL","CASL","IBSL"]
    return [i for i in educationlst if i in text]

In [8]:
df['Education qualification']=df['text'].map(educationqualification)

In [23]:
import re
def sala(i):
    salary=[]
    salary= re.findall(r'(?<=Rs. )(?:\d+[.,]?)+(?= )(/-$)',i)
    return salary

In [24]:
df['salary']=df['text'].map(sala)

In [25]:
df

,Unnamed: 0,name,text,location,gender,Education qualification,salary
0,0,TJ_C1_ (1).,"""mÃ»ve ASSOCIATE FINANCE WHO WE ARE Muve is a ...",[Colombo],None,"[CIMA, ACCA, ERP]",[]
1,1,TJ_C1_ (10).,"""ACCOUNTANT / ACCOUNTS EXECUTIVE Orion Holding...",[Matara],None,"[CIMA, AAT, ACCA]",[]
2,2,TJ_C1_ (100).,"""ASSISTANT ACCOUNTANT Westgate International (...",[Panadura],None,"[CIMA, ACCA, Degree]",[]
3,3,TJ_C1_ (101).,"""ACCOUNTS ASSISTANT A Well-established BOI and...","[Mahara, Maharagama]",None,"[CIMA, AAT, CMA]",[]
4,4,TJ_C1_ (102).,"""A Well-established ISO ASSISTANT ACCOUNTANT C...","[Mahara, Maharagama]",None,"[CIMA, AAT, CMA]",[]
...,...,...,...,...,...,...,...
3372,3372,TJ_U1_ (5).,VACANCIES IN OUR SF HORANÎ‘ Î’ÎŸÎ™ PROJECT Ind...,"[Colombo, Horana, Kalutara]",None,[],[]
3373,3373,TJ_U1_ (6).,SRI LANKA'S NUMBER ONE BRAND IS COUNTING ON YO...,[],None,"[O/L, A/L]",[]
3374,3374,TJ_U1_ (7).,"DPJH Drive, Determination, Diversity Assistant...",[Horana],None,[],[]
3375,3375,TJ_U1_ (8).,Career Opportunity. Quality Assurance Executiv...,[],None,[Diploma],[]
3376,3376,TJ_U1_ (9).,"EXECUTIVE / SENIOR EXECUTIVE - PRODUCT, QUALIT...","[Colombo, Horana]",None,"[Degree, ATI]",[]

In [26]:
df.to_csv('F:\\FYP\\data set\\Text_db_completed4.csv')