<a href="https://colab.research.google.com/github/suwanii/FYP/blob/main/Retrieving_data_from_trained_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install spacy==3.0.6

Collecting spacy==3.0.6
  Downloading spacy-3.0.6-cp37-cp37m-manylinux2014_x86_64.whl (12.8 MB)
     |████████████████████████████████| 12.8 MB 68 kB/s
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (2.23.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (3.0.5)
Collecting srsly<3.0.0,>=2.4.1
  Downloading srsly-2.4.1-cp37-cp37m-manylinux2014_x86_64.whl (456 kB)
     |████████████████████████████████| 456 kB 53.8 MB/s
Collecting typer<0.4.0,>=0.3.0
  Downloading typer-0.3.2-py3-none-any.whl (21 kB)
Collecting thinc<8.1.0,>=8.0.3
  Downloading thinc-8.0.9-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (623 kB)
     |████████████████████████████████| 623 kB 70.0 MB/s
Collecting pydantic<1.8.0,>=1.7.1
  Downloading pydantic-1.7.4-cp37-cp37m-manylinux2014_x86_64.whl (9.1 MB)
     |████████████████████████████████| 9.1 MB 18.4 MB/s
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (3.7.4.3)
Collecting catalogue<2.1.0,>=2.0.3
  Downloading catalogue-2.0.6-py3-none-any.whl (17 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (4.62.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (1.0.5)
Collecting spacy-legacy<3.1.0,>=3.0.4
  Downloading spacy_legacy-3.0.8-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (21.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (57.4.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (2.0.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (2.11.3)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (0.8.2)
Collecting pathy>=0.3.5
  Downloading pathy-0.6.0-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.3 MB/s
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy==3.0.6) (1.19.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.3->spacy==3.0.6) (3.5.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy==3.0.6) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy==3.0.6) (5.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==3.0.6) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==3.0.6) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==3.0.6) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==3.0.6) (1.24.3)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.4.0,>=0.3.0->spacy==3.0.6) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy==3.0.6) (2.0.1)
Installing collected packages: catalogue, typer, srsly, pydantic, thinc, spacy-legacy, pathy, spacy
  Attempting uninstall: catalogue
    Found existing installation: catalogue 1.0.0
    Uninstalling catalogue-1.0.0:
      Successfully uninstalled catalogue-1.0.0
  Attempting uninstall: srsly
    Found existing installation: srsly 1.0.5
    Uninstalling srsly-1.0.5:
      Successfully uninstalled srsly-1.0.5
  Attempting uninstall: thinc
    Found existing installation: thinc 7.4.0
    Uninstalling thinc-7.4.0:
      Successfully uninstalled thinc-7.4.0
  Attempting uninstall: spacy
    Found existing installation: spacy 2.2.4
    Uninstalling spacy-2.2.4:
      Successfully uninstalled spacy-2.2.4
Successfully installed catalogue-2.0.6 pathy-0.6.0 pydantic-1.7.4 spacy-3.0.6 spacy-legacy-3.0.8 srsly-2.4.1 thinc-8.0.9 typer-0.3.2

In [1]:
pip install spacy[transformers]

Requirement already satisfied: spacy[transformers] in /usr/local/lib/python3.7/dist-packages (3.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (3.0.5)
Requirement already satisfied: typer<0.4.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (0.3.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (3.0.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (2.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (4.62.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (0.8.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (2.23.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (0.4.1)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (3.7.4.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (2.4.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (21.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (2.11.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (0.6.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (1.19.5)
Requirement already satisfied: thinc<8.1.0,>=8.0.3 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (8.0.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (57.4.0)
Requirement already satisfied: pydantic<1.8.0,>=1.7.1 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (1.7.4)
Requirement already satisfied: catalogue<2.1.0,>=2.0.3 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (2.0.6)
Requirement already satisfied: spacy-transformers<1.1.0,>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from spacy[transformers]) (1.0.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.3->spacy[transformers]) (3.5.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy[transformers]) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy[transformers]) (5.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy[transformers]) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy[transformers]) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy[transformers]) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy[transformers]) (2.10)
Requirement already satisfied: torch>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (1.9.0+cu102)
Requirement already satisfied: spacy-alignments<1.0.0,>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (0.8.3)
Requirement already satisfied: transformers<4.10.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (4.9.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (5.4.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (0.0.45)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (2019.12.20)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (4.6.4)
Requirement already satisfied: huggingface-hub==0.0.12 in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (0.0.12)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (3.0.12)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (0.10.3)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.4.0,>=0.3.0->spacy[transformers]) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy[transformers]) (2.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<4.10.0,>=3.4.0->spacy-transformers<1.1.0,>=1.0.1->spacy[transformers]) (1.0.1)

In [ ]:
import pandas as pd
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import json
import spacy_transformers

In [3]:
nlp = spacy.load(r"/content/drive/MyDrive/FYP/output/Model3/model-best")

In [4]:
df = pd.read_csv(r"/content/Text_db_final_4_replacing n with period.csv")

In [5]:
df.shape

(3535, 2)

In [12]:
examples = df

In [ ]:
alldata_ = {}  
for i in range(df.shape[0]):
    try:
      print(i)
      doc_to_test=nlp(examples.text[i])
      d_={}
      for ent in doc_to_test.ents:
          d_[ent.label_]=[]
      for ent in doc_to_test.ents:
          d_[ent.label_].append(ent.text)
      alldata_[examples.name[i]] = d_
    except TypeError:
      print("{i} is empty".format(i))

In [15]:
df.text[1047]

nan

In [16]:
alldata_1  = alldata_.copy()

In [31]:
keylist = [key for key in alldata_]

In [18]:
entitylist = ["company","edu_level","email","gender","location","no_years","post_number","qualification",
      "res_skill","salary","salary_range","seniority","specialization","tel","title","years_experienced"]

In [32]:
for key in keylist:
    for entity in entitylist:
        if entity not in alldata_[key].keys():
            alldata_[key][entity] = "0"

In [33]:
dfextracted = pd.DataFrame.from_dict(alldata_, orient='columns').transpose().rename_axis('JD_id')#.rename_axis('Entity')
dfextracted

                                                       company  ... Res_skill
JD_id                                                           ...
TJ_D2_11.    [KONNECT BPO.TECHNOLOGIES (PVT) LTD.Senior Exe...  ...       NaN
TJ_D2_12.    [CORECUBE.PRIVATE LIMITED.YOUR TECHNOLOGY PART...  ...       NaN
TJ_D2_13.                                  [John Keells Group]  ...       NaN
TJ_D2_14.                                             [TCPLUS]  ...       NaN
TJ_D2_15.                     [Adelanka (Pvt), Adelanka (Pvt)]  ...       NaN
...                                                        ...  ...       ...
TJ_U1_ (5).  [Fabrications (Pvt), ISF Industries (Pvt) Ltd,...  ...       NaN
TJ_U1_ (6).                    [SINGER.Singer (Sri Lanka) PLC]  ...       NaN
TJ_U1_ (7).                                     [DPJ Holdings]  ...       NaN
TJ_U1_ (8).                  [Delmo Chicken & Agro (Pvt) Ltd,]  ...       NaN
TJ_U1_ (9).                                                  0  ...       NaN

[2487 rows x 18 columns]

In [34]:
dfextracted.to_csv(r"extractedM3_2.csv")

In [44]:
df1 = pd.read_csv(r"extractedM3_1.csv")
df2 = pd.read_csv(r"extractedM3_2.csv")

In [45]:
dfcon =[df1,df2]

In [47]:
extracted_data= pd.concat(dfcon)

In [54]:
extracted_data.to_csv("extracted_data_from_M3.csv")

In [5]:
import ast
import pandas as pd

In [6]:
extracted_data = pd.read_csv("extracted_data_from_M3.csv")

In [7]:
extracted_data.head()

   Unnamed: 0  ...                                          Res_skill
0           0  ...                                                NaN
1           1  ...                                                NaN
2           2  ...                                                NaN
3           3  ...  ['VAT', 'tax procedures.Possess good communica...
4           4  ...                                                NaN

[5 rows x 20 columns]

In [ ]:
extracted_data = extracted_data.replace('0',0)

In [10]:
#function that get the string out the list and put it back as a string
def tr(row):
    try:
        result = ast.literal_eval(row['location'])
        return ",".join(ext for ext in result)
    except ValueError:
        return "not_extracted"

In [ ]:
extracted_data['Location'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Res_Skill'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Title'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['No_Years'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Email'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Comapny'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Education_Level'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Gender'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Post_number'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Qualification'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Salary'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Seniority'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Specialization'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Telephone'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data['Res_skill'] = extracted_data.apply(tr,axis = 1)

In [ ]:
extracted_data = extracted_data.drop(columns = ['location', 'res_skill', 'title', 'no_years', 'email',
       'company', 'edu_level', 'gender', 'post_number', 'qualification',
       'salary', 'salary_range', 'seniority', 'specialization', 'tel',
       'years_experienced'])

In [ ]:
extracted_data = extracted_data.replace("not_extracted","")

In [ ]:
extracted_data['Res_Skill'] = extracted_data['Res_Skill']+df_['Res_skill']

In [ ]:
extracted_data = extracted_data.drop(columns = ['Res_skill'])